html {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: rgb(245, 245, 245);
}

body {
  width: 100%;
  overflow-x: hidden;
}

#exploreContainer {
  position: relative;
}

#exploreImg {
  /* Photo by Priscilla Du Preez on Unsplash */
  width: 100%;
  margin: 0;
  padding: 0;
}

#exploreTitle {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, 0); /* Not supported IE8 and lower */
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
}

#exploreContent {
  position: absolute;
  top: 65%;
  transform: translate(0, -50%);
  color: white;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 25px;
  border: 2px white solid;
  margin: 2px;
  padding: 10px;
}

#exploreIcon {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 7rem;
  background-color: rgba(0, 0, 0);
  border-radius: 50%;
}

.collection-header {
  border-bottom: 2px solid black !important;
}
.collection-item {
  border-bottom: 2px solid #e0e0e0 !important;
}

.collection {
  border-radius: 15px;
  box-shadow: 2px 2px 2px black;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 60px;
  background-color: rgba(0, 0, 0, 0.7);
}

nav li a {
  max-height: 60px;
  text-decoration: none;
}

nav i.material-icons {
  display: inline;
}

nav img {
  max-width: 48px;
  margin: 7px;
}

#ifnav {
  margin-top: 70px;
}

a {
  color: black;
  text-decoration: underline;
}

#backBtn {
  text-decoration: none;
}

#logoutTitle {
  font-size: 12px;
}

h5 {
  text-align: center;
}

#toast-container {
  position: absolute !important;
  bottom: 30px !important;
  left: 0px !important;
  width: 400px;
}

/* Music note animation from https://codepen.io/Schepotin/pen/GrWJzr */
.note-position-1 {
  top: 200px;
  left: 30px;
}

.note-position-2 {
  top: 230px;
  left: 50px;
}

.note-position-3 {
  top: 210px;
  left: 100px;
}

.note-position-4 {
  top: 205px;
  left: 75px;
}

.note-position-5 {
  top: 200px;
  right: 30px;
}

.note-position-6 {
  top: 230px;
  right: 50px;
}

.note-position-7 {
  top: 210px;
  right: 100px;
}

.note-position-8 {
  top: 205px;
  right: 75px;
}

.animation-delay-1 {
  animation-delay: 1s;
}

.animation-delay-2 {
  animation-delay: 2s;
}

.note-animation {
  position: absolute;
  font-size: 30px;
  animation-name: notes;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0;
}

@keyframes notes {
  0% {
    font-size: 35px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    font-size: 60px;
    margin-top: -130px;
    opacity: 0;
  }
}

/* Responsive */
@media only screen and (max-width: 1630px) {
  #exploreTitle {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, 0); /* Not supported IE8 and lower */
    color: white;
    font-size: 2rem;
    font-weight: 600;
  }

  #exploreIcon {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 6rem;
    background-color: rgba(0, 0, 0);
    border-radius: 50%;
  }
}

@media only screen and (max-width: 1330px) {
  #exploreTitle {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, 0); /* Not supported IE8 and lower */
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
  }

  #exploreIcon {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 3.5rem;
    background-color: rgba(0, 0, 0);
    border-radius: 50%;
  }
}

@media only screen and (max-width: 1120px) {
  #currentPlaylistTitle {
    font-size: 28px;
  }

  .btnTitle {
    visibility: hidden;
  }
  #btnTitleAdd::before {
    content: 'Add Video';
    visibility: visible;
    display: block;
    font-size: 12px;
  }
  #btnTitleRemove::before {
    content: 'Video List';
    visibility: visible;
    display: block;
    font-size: 12px;
  }
  #btnTitleBack::before {
    content: 'Back To Playlists';
    visibility: visible;
    display: block;
    font-size: 14px;
  }
}

@media only screen and (max-width: 770px) {
  #exploreTitle {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, 0); /* Not supported IE8 and lower */
    color: white;
    font-size: 1rem;
    font-weight: 600;
  }

  #exploreIcon {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 2rem;
    background-color: rgba(0, 0, 0);
    border-radius: 50%;
  }
}

@media only screen and (max-width: 600px) {
  #exploreTitle {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, 0); /* Not supported IE8 and lower */
    color: white;
    font-size: 1.66rem;
    font-weight: 600;
  }

  #exploreIcon {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 4rem;
    background-color: rgba(0, 0, 0);
    border-radius: 50%;
  }

  #ExplorePageTitle {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 400px) {
  #exploreTitle {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, 0); /* Not supported IE8 and lower */
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
  }

  #exploreIcon {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 2rem;
    background-color: rgba(0, 0, 0);
    border-radius: 50%;
  }

  #ExplorePageTitle {
    font-size: 1.2rem;
  }

  .ExplorePageIcon {
    font-size: 1rem;
  }

  #currentPlaylistTitle {
    font-size: 24px;
  }

  .btnTitle {
    visibility: hidden;
  }
  #btnTitleAdd::before {
    content: 'Add Video';
    visibility: visible;
    display: block;
    font-size: 9px;
  }
  #btnTitleRemove::before {
    content: 'Video List';
    visibility: visible;
    display: block;
    font-size: 9px;
  }
  #btnTitleBack::before {
    content: 'Back To Playlists';
    visibility: visible;
    display: block;
    font-size: 11px;
  }
}
