html {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: rgb(245, 245, 245);
}

body {
  width: 100%;
  overflow-x: hidden;
}

.collection-header {
  border-bottom: 2px solid black !important;
}
.collection-item {
  border-bottom: 2px solid #e0e0e0 !important;
}

.collection {
  border-radius: 15px;
  box-shadow: 2px 2px 2px black;
}

a {
  color: black;
  text-decoration: underline;
}

h5 {
  text-align: center;
}

#toast-container {
  position: absolute !important;
  top: 50px !important;
  left: 0px !important;
  width: 400px;
}
